<div class="kf_featured_slider my-news">
    <div class="featured_slider">
                {ms:arclist}
                    <div class="kf_featured_thumb">
                        <figure class="featured-image single">
                            <a href="[field.source/]" target="_blank">
                                <img src="[field.litpic/]" alt="" class="img-responsive">
                            </a>
                        </figure>
                        <div class="text">
                            <h6>[field.author/]</h6>
                            <h2><a href="[field.keyword/]" target="_blank">[field.descrip/]</a></h2>
                        </div>
                    </div>
                {/ms:arclist}
    </div>
</div>
