<!doctype html>
<html  class=" js no-touch cssanimations csstransitions"  xmlns:th="http://www.thymeleaf.org">
<head>
    <#include "head.htm"/>
</head>

<body>
<div class="kode_wrapper">
    <#include "header.htm"/>
    <#include "navigationBar.htm"/>
    <!--Main Content Wrap Start-->
    <div class="kode_content_wrap">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <!--Featured Slider Start-->
                        <script type="text/javascript">
                            document.write(page1.import.body.innerHTML);
                        </script>
                        <!--Featured Slider End-->
                        <!--Featured 2 Slider Start-->
                        <script type="text/javascript">
                            document.write(page2.import.body.innerHTML);
                        </script>
                        <!--Featured 2 Slider End-->
                    </div>
                    <aside class="col-md-4">
                        <!--Widget Ranking Start-->
                        <script type="text/javascript">
                            document.write(page3.import.body.innerHTML);
                        </script>

                        <!--Widget Ranking Start-->
                        <script type="text/javascript">
                            document.write(page4.import.body.innerHTML);
                        </script>
                        
                        <!--Widget Add 2 Strat
                        <div class="widget widget_add">
                            <div class="add_banner">
                                <a href="#"><img src="/extra-images/add_banner2.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="widget widget_add">
                            <div class="add_banner">
                                <a href="#"><img src="/extra-images/add_banne3.jpg" alt=""></a>
                            </div>
                        </div>
                        Widget Add 3 End-->
                    </aside>
                </div>
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
    <#include "footer.htm"/>
</div>

<#include "head-js.htm"/>


</body></html>