<!--Bootstrap core JavaScript-->
<script src="{ms:global.host/}/{ms:global.style/}/js/bootstrap.js"></script>

<!--Number Count (Waypoints) JavaScript-->
<script src="{ms:global.host/}/{ms:global.style/}/js/downCount.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/waypoints-min.js"></script>
<!--Dl Menu Script-->
<script src="{ms:global.host/}/{ms:global.style/}/js/dl-menu/modernizr.custom.js"></script>
<script src="{ms:global.host/}/{ms:global.style/}/js/dl-menu/jquery.dlmenu.js"></script>
<!--Progress bar JavaScript-->
<script src="{ms:global.host/}/{ms:global.style/}/js/jprogress.js" type="text/javascript"></script>
<!--Pretty Photo JavaScript-->
<script src="{ms:global.host/}/{ms:global.style/}/js/jquery.prettyPhoto.js"></script>
<!--Custom JavaScript-->
<script src="{ms:global.host/}/{ms:global.style/}/js/custom.js"></script>
