<!--Header 2 Wrap Start-->
<header class="kode_header_2 my-header">
    <div class="container">
        <!--Logo Bar Start-->
        <div class="kode_logo_bar">
            <!--Logo Start-->
            <div class="logo">
                <a href="/">
                    <img src="{ms:global.host/}/{ms:global.style/}/images/logo.png" alt="">
                </a>
            </div>
            <!--Logo Start-->
            <!--Navigation Wrap Start-->
            <div class="kode_navigation">
                <!--Navigation Start-->
                <ul class="nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/news">新闻</a></li>
                    <li><a href="/collections">专题</a></li>
                    <li><a href="/ffu/introduce">关于泛足联</a></li>
                    <li><a href="{ms:global.url/}/151/152/index.html">加入泛足联</a></li>
                </ul>
                <!--DL Menu Start-->
                <div id="kode-responsive-navigation" class="dl-menuwrapper">
                    <button class="dl-trigger">展开</button>
                    <ul class="dl-menu">
                        <li><a href="/">首页</a></li>
                        <li><a href="/news">新闻</a></li>
                        <li><a href="/collections">专题</a></li>
                        <li><a href="/ffu/introduce">关于泛足联</a></li>
                        <li><a href="{ms:global.url/}/151/152/index.html">加入泛足联</a></li>
                    </ul>
                </div>
                <!--DL Menu END-->
                <!--Navigation End-->
            </div>
            <!--Navigation Wrap End-->
        </div>
        <!--Logo Bar End-->
    </div>
</header>
<!--Header 2 Wrap End-->