    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{ms:global.host/}/{ms:global.style/}/images/favicon.png">
    <!--Jquery Library-->
    <script src="{ms:global.host/}/{ms:global.style/}/js/jquery.js"></script>
    <!--Slick Slider JavaScript-->
    <script src="{ms:global.host/}/{ms:global.style/}/js/slick.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/css/bootstrap.css" rel="stylesheet">
    <!-- DL Menu CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/js/dl-menu/component.css" rel="stylesheet">
    <!-- Slick Slider CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/css/slick.css" rel="stylesheet">
    <link href="{ms:global.host/}/{ms:global.style/}/css/slick-theme.css" rel="stylesheet">
    <!-- ICONS CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/css/font-awesome.css" rel="stylesheet">
    <link href="{ms:global.host/}/{ms:global.style/}/css/svg-icons.css" rel="stylesheet">
    <!-- Pretty Photo CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/css/prettyPhoto.css" rel="stylesheet">
    <!-- Typography CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/css/typography.css" rel="stylesheet">
    <!-- Widget CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/css/widget.css" rel="stylesheet">
    <!-- Shortcodes CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/css/shortcodes.css" rel="stylesheet">
    <!-- Custom Main StyleSheet CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/style.css" rel="stylesheet">
    <!-- Color CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/css/color.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="{ms:global.host/}/{ms:global.style/}/css/responsive.css" rel="stylesheet">

    <!-- custom -->
    <link href="{ms:global.host/}/{ms:global.style/}/css/my-custom.css" rel="stylesheet">

    <link rel="import" href="{ms:global.url/}/150/index.html" id="page1"/>
    <link rel="import" href="{ms:global.url/}/153/index.html" id="page2"/>
    <link rel="import" href="{ms:global.url/}/154/index.html" id="page3"/>
    <link rel="import" href="{ms:global.url/}/155/index.html" id="page4"/>

    <title>泛足联</title>