<div class="kf_featured_wrap2 my-news">
    <!--Heading 1 Start-->
    <h6 class="kf_hd1" id="home-news-kf_hd1">
        <span>热点新闻</span>
    </h6>
    <!--Heading 1 END-->
    {ms:arclist}
    <!--Featured 2 thumb Start-->
    <div class="row">
        <div class="col-sm-5">
            <figure class="featured-image">
                <a href="[field.source/]" target="_blank">
                    <img src="[field.litpic/]" alt="" class="img-responsive">
                </a>
            </figure>
        </div>
        <div class="col-sm-7">
            <div class="title">
                <h3><a href="[field.keyword/]" target="_blank">[field.descrip/]</a></h3>
                <span>[field.date/]</span>
                [field.content/]
            </div>
        </div>
    </div>
    <!--Featured 2 thumb End-->
    {/ms:arclist}
</div>