<!--sub nav bar-->
<div class="my-sub-nav blue kode_content_wrap">
    <div class="container">
        <!-- <span class="title">赛事介绍</span> -->
        <ul class="nav">
            <li><a href="/league/quanguodasai/introduce">全国大赛</a></li>
            <li><a href="/league/shengqusai/introduce">省区赛</a></li>
            <li><a href="/league/shiqusai/introduce">城市决赛</a></li>
            <li><a href="/league/changguansai/introduce">球场赛</a></li>
            <li><a href="/league/guojisai/introduce">国际大赛</a></li>
        </ul>
    </div>
</div>