<div class="widget widget_recentnews gallery">
    <h6 class="kf_hd1">
        <span>{ms:field.typetitle/}</span>
    </h6>
    <div class="kf_border">
        {ms:arclist}
        <div class="kf_recentnews">
            <figure>
                <a href="[field.source/]" target="_blank">
                    <img src="[field.litpic/]" alt="" style="width: 78px;height: 50px;">
                </a>
            </figure>
            <div class="text">
                <h6><a href="[field.keyword/]" target="_blank">[field.descrip/]</a></h6>
                <p>[field.content/]</p>
            </div>
        </div>
        {/ms:arclist}
    </div>
</div>