<!doctype html>
<html  class=" js no-touch cssanimations csstransitions"  xmlns:th="http://www.thymeleaf.org">
<head>
    <#include "head.htm"/>
</head>

<body>
<div class="kode_wrapper">
    <#include "header.htm"/>
    <#include "navigationBar.htm"/>
    <!--Inner Banner Start-->
    <div class="innner_banner">
        <div class="container">
            <h3>{ms:field.typetitle/}</h3>
            <!-- <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">blog</a></li>
                <li class="active"><span>blog grid 2</span></li>
            </ul> -->
        </div>
    </div>
    <!--Inner Banner End-->

    <div class="kode_content_wrap">
        <section class="kf_blog2">
            <div class="container">
                <!--Featured 3 Slider Start-->
                <div class="kf_featured_wrap2 my-news">
                    <div class="row">
                        <div class="col-md-9 col-sm-9">
                            {ms:arclist}
                            <!--Featured 2 thumb Start-->
                            <div class="row">
                                <div class="col-sm-5">
                                    <figure class="featured-image">
                                        <a href="[field.source/]" target="_blank">
                                            <img src="[field.litpic/]" alt="" class="img-responsive">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-sm-7">
                                    <div class="title">
                                        <h3><a href="[field.source/]" target="_blank">[field.descrip/]</a></h3>
                                        <span>[field.date/]</span>
                                        <p>[field.content/]</p>
                                    </div>
                                </div>
                            </div>
                            <!--Featured 2 thumb End-->
                            <hr>
                            {/ms:arclist}
                        </div>

                        <div class="col-md-3 col-sm-3">
                        </div>
                    </div>
                </div>
                <!--Featured 3 Slider End-->
            </div>
        </section>
    </div>
    <!--Main Content Wrap End-->
    <#include "footer.htm"/>
</div>

<#include "head-js.htm"/>


</body></html>